@import '../../style/App.scss';

.container{
    align-items: center;
    align-content: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.row{
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-container{
    width: 20%;
    height: auto;
    float: right;
    margin-left: 0;
    display: inline-block;
}
.img-c{
    width: 90%;
    float: right;
    margin-left: 0;
}

.img-c:hover{
    width: 100%;
}

@media screen and (max-width: 990px) {
    .row{
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .img-container{
        width: 50%;
        height: auto;
        float: right;
        margin-bottom: 4rem;
    }
}
