@import "../../style/App.scss";

#about {
  padding: 30px 0;
}

@media screen and (max-width: 990px) {
  #about {
    text-align: center;
  }
}

.hero-image {
  max-width: 100%;
  height: auto;
  float: right;
}

.pad{
  margin-top: 3rem;
}
.image-trans{
  width: 70%;
  height: auto;
  float: right;
  align-items: center;
  padding-top: 2rem;
}
.trans-container{
  align-items: center;
  justify-content: center;
}