@import '../../style/App.scss';

.container{
    align-items: center;
    align-content: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.row{
    align-content: center;
    align-items: center;
    margin-left: 1%;
    flex-wrap: wrap;
}

.img-container{
    width: 31%;
    height: auto;
    float: right;
    margin-bottom: 4rem;
}
.img{
    width: 90%;
    height: auto;
    float: right;
    margin: 0;
    padding: 2%;
}

.img:hover{
    width: 100%;
}


