@import "../../../style/App.scss";

.contact__social {
  width: 100%;
  margin: 30px;
  transition: 0.1s ease;

  cursor: pointer;
}


.svg {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
}

@media screen and (max-width: 990px) {
  .contact__social {
    text-align: center;
    width: 100%;
    img {
      margin: 0 auto;
    }
  }
}
