@import '../../../style/App.scss';

.button {

  .button-link {
    background-color: #012E46;
    border: 2px solid $main-color;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 800;
  }
  .button-link:hover {
    border: 2px solid #F1E52D;
    background-color: #F1E52D;
    color: #012E46;
  }
}