@import "../../style/App.scss";

#about {
  padding: 30px 0;
  align-items: center;
  align-content: center;
}

.about-2{
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 990px) {
  #about {
    text-align: center;
    align-items: center;
    align-content: center;
  }
}

.hero-image {
  width: 100%;
  height: auto;
  float: right;
  align-content: center;
  align-items: center;
}

.image-trans {
  width: 30%;
  height: auto;
  float: right;
  align-items: center;
  padding-top: 2rem;
}
.trans-container {
  align-items: center;
  justify-content: flex-end;
}
.img-2 {
  width: 100%;
  align-content: center;
  align-items: center;
}
.trans {
  height: 100%;
  height: auto;
  float: right;
}
.aling {
  align-items: center;
  align-content: center;
}
