@import '../../style/App.scss';

.footer {
  background-color: $white-color;
  width: 100%;
  min-height: 180px;
  align-items: center;
  align-content: center;

  .footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: auto;
    height: auto;
    width: 100%;
  }


.foot-img{
  height: auto;
  width: 70%;
}

@media screen and (max-width: 580px) {
  .footer {
    width: 100%;
    min-height: 400px;
    align-items: center;
    align-content: center;

    .footer-box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      .foot-img{
        height: auto;
        width: 100%;
      }
    }
      img {
        padding-bottom: 0px;
      }
    }
  }
}
