@import '../../style/App.scss';

.footer {
  background-color: $white-color;
  width: 100%;
  min-height: 180px;
  align-items: center;
  align-content: center;

  .footer-box {
    display: flex;
    align-items: center;
    padding: 2rem;
    align-content: center;
  }


.foot-img{
  height: 100%;
  width: auto;
}

@media screen and (max-width: 580px) {
  .footer {

    .footer-box {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        padding-bottom: 10px;
      }
    }
      img {
        padding-bottom: 0px;
      }
    }
  }
}
