@import '../../style/App.scss';

.propuestas-cont{
  margin-left: 10%;
  margin-bottom: 5rem;
}
.margin-vid{
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.parrafo{
  margin-left: 15%;
  margin-right: 10%;
  padding-top: 2rem;
}

.despues{
  margin-top: 4rem;
}